<%= form_with model: @category do |form| %>
   <div class="form-group">
    <div class="form-row">
      <div class="col-6"> <%= form.text_field :name,  class: 'form-control', placeholder: 'Name' %> </div>
      <div class="col-2"> <%= form.file_field :icon %> </div>
      <div class="col-2"> <%= form.submit class: 'btn btn-primary' %> </div>
    </div>
  </div>
<% end %>
